.sc-figure {
  position: relative;
  max-width: 100%;
  display: block;
  margin: 0px auto;
}
.sc-figure img {
  display: block;
  max-width: 100%;
  margin: 0px auto;
}
.sm-figure.inset-left {
  max-width: 45%;
  float: left;
  margin-right: 5%;
}
.sm-figure.inset-right {
  max-width: 45%;
  float: right;
  margin-left: 5%;
}
.sm-figure.full-bleed {
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
}
.sm-figure.full-bleed figcaption {
  text-align: center;
}
